.container {

}

.contentWrapper {
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 80%;
  min-width: 1000px;
  max-width: 1100px;
}

.content {
  padding: 20px 0 10px 0;
}
