.container {
  /* margin-top: 10px; */
}

.meetingContainer {
  margin-bottom: 10px;
}

.removeButton {
  padding: 3px 10px !important;
  margin-left: 10px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.meetingButton {
  margin-bottom: 15px;
}

.timeSelect {
  display: flex;
  justify-content: space-between;
}

.timeSelect > * {
  width: 45%;
}

.policy {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
}

.signContainer {
  display: flex;
}

.signWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
