.container {
  cursor: pointer;
  width: 30% !important;
  border-radius: 10px;
  border: solid 0.5px #f0f0f0;
  box-shadow: 5px 5px 5px #f0f0f0;
  margin-bottom: 10px;
}

.container:nth-child(3n) {
  margin-right: 0;
}

.wrapper {
  padding: 10px;
}

.wrapper div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name {
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  text-align: center;
  font-style: italic;
  margin-top: 5px;
}

.phone {
  text-align: center;
  margin-top: 5px;
}

.info {
  margin: 20px 0 15px 0;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 60px;
}

.tag {
  background-color: rgba(200, 3, 43, 0.5);
  color: white;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  padding: 0 10px;
  border-radius: 3px;
  margin-right: 5px;
  margin-top: 5px;
}
