.container {
  position: relative;
}

.wrapper {
  position: relative;
  top: -50px;
}

.tab {
  cursor: pointer;
  display: inline-block;
  background-color: #e0e0e0;
  width: auto;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0 20px;
  line-height: 50px;
  font-size: 20px;

  -webkit-box-shadow: inset 10px 0px 10px 0px #ccc;
  -moz-box-shadow: inset 10px 0px 10px 0px #ccc;
  box-shadow: inset 10px 0px 10px 0px #ccc;
}

.selectedTab {
  background-color: white;
  box-shadow: none;
}

.content {

}
