.wrapper {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.screen {
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.container {
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: white;
  width: 600px;
  max-height: 90%;
  border-radius: 10px;
  transition: all 0.2s ease-in;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #c8032b; /* Denison red */
  color: white;
  padding: 10px;
}

.title {
  flex: 1;
  line-height: 50px;
  height: 50px;
}

.title > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}

.content {
  overflow: auto;
  padding: 10px 10px 0 10px;
}

/* For padding on bottom. Regular way does work with overflow. */
.content:after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
}

.content * {
  /* margin: 0 !important; */
}
