<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="./all.min.css" rel="stylesheet">
        <script defer src="./all.min.js"></script>
        <title>Verifying session</title>
    </head>
    <style>
      .msg {
        text-align: center;
        font-size: 26px;
        margin-top: 10px;
      }

      .icon {
        text-align: center;
        font-size: 100px;
        color: #93db3b;
        margin-top: 50px;
      }
    </style>
    <body>
        <div class="icon"><i class="fas fa-check-circle"></i></div>
        <div class="msg">Thank you for verifying your tutoring session!</div>
    </body>
</html>
